@mixin p-m {
    input,
    select,
    textarea {
        display: block;
    }
    .button,
    fieldset,
    .div4 {
        border: 0;
        margin-top: 2%;
    }
    textarea {
        width: 60%;
    }
}

@mixin text-d {
    font: {
        family: Arial;
        weight: bold;
        size: 13px;
    }
}