input,
select,
textarea {
    display: block;
}

fieldset {
    border: 0;
}

.container {
    border: 2px solid gray;
    width: 33%;
    height: 65%;
    margin: 0 auto;
    background-color: rgba(192, 192, 192, 0.336);
    padding: 1.5%;
}

.div4,
.div2,
.button {
    margin-top: 4.5%;
}

.button1 {
    padding: 5px;
    text-align: center;
    background-color: rgba(14, 13, 13, 0.863);
    color: white;
}